body {
    font-family: 'Montserrat', sans-serif !important;
}

.vertical-text {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    font-weight: bolder;
    font-size: 1.5rem;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.roboto {
   font-family: 'Roboto Condensed', sans-serif; 
}
.selected {
    text-decoration: underline;
}
.bg-logo {
    background-color: #004482;
}
.bg-logo-pink {
    background-color: #df3c98 !important;
}
.bg-blue {
    background-color: #1f2e6a !important;
    color: white !important;
}
.bg-purple {
    background-color: #5d5fac !important;
    color: white !important;
}
.text-logo {
    color: #004482 !important;
}
.text-logo-pink {
    color: #df3c98;
}
.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

.frame-pdf {
    height: 90vh;
}

@media (max-width: 1000px) {
    #vanish {
        display: none;
    }
    #AAA {
        margin-top: 1rem;
        top: -10rem;
        position: static !important;
    }
    .sm-90 {
        max-width: 90vw;  
    }
  } 
